* {
  margin: 0;
  padding: 0;
  font-family: "Righteous", cursive;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgb(146, 140, 255) 0%,
    rgb(175, 87, 216) 100%
  );
}

.burger {
  display: none;
  cursor: pointer;
  transition: 0.3s;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(241, 241, 241);
  margin: 5px;
  transition: 0.3s;
}

nav {
  display: flex;
  position: fixed;
  overflow: visible;
  padding-top: 2vh;
  top: 0;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
  min-height: 15vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 72, 189, 0.1);
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  z-index: 10;
  list-style: none;
  text-decoration: none;
}

.nav-links a {
  color: rgb(241, 241, 241);
  letter-spacing: 1px;
  font-size: 20px;
  transition: 0.4s;
  list-style: none;
  text-decoration: none;
  float: right;
}

.nav-links :hover {
  color: rgb(194, 194, 194);
}

.link {
  display: inline-block;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  transition: 0.3s;
}
.toggle .line2 {
  opacity: 0;
  transition: 0.3s;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  transition: 0.3s;
}

.vectorArt {
  display: flex;
  width: 70%;
}

#aboutTitle {
  font-size: 80px;
  color: white;
  overflow-y: hidden;
}

#aboutText {
  color: white;
  font-weight: 200;
  line-height: 1.8;
  font-size: medium;
  overflow-y: hidden;
}

.registerButton {
  padding: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: rgb(113, 47, 255);
  color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 10vh;
  transition: 0.2s;
}
.registerButton:hover {
  background-color: rgb(87, 35, 199);
}
.registerButton:active {
  transform: scale(0.9);
  transition: 0.1s;
}

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 85vh;
    top: 8vh;
    margin-top: 7vh;
    background-color: rgba(116, 51, 255, 0.65);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    transition: transform, 0.5s ease-out;
  }

  .nav-links li {
    opacity: 1;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

.scheduleButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dateButton {
  padding: 20px;
  font-size: large;
  background-color: rgb(57, 87, 240);
  color: white;
  font-weight: 500;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  transition: 0.2s;
}

.dateButton:hover {
  background-color: rgb(96, 123, 255);
}

.dateButtonActive {
  background-color: rgb(247, 0, 255);
  transition: 0.2s;
}
.dateButtonActive:hover {
  background-color: rgb(247, 0, 255);
  transition: 0.2s;
}

.eventItem {
  min-height: 10vh;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #ff6dfa, #4fadff);
  background-color: rgba(256, 256, 256, 0.15);
  border-radius: 10px;

  overflow: wrap;
  padding: 15px;
  color: white;
  display: flex;
  align-items: center;
  width: 85%;
  word-wrap: normal;
  margin-bottom: 20px;
}



.sponsorListGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  justify-content: center;
}
.sponsorItemCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  transition: 0.2s;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}
.sponsorItemCard h3{
  overflow: visible;
  text-align: center;
  color: white;
}

.sponsorItemCard h1{
  overflow: visible;
  text-align: center;
  color: white;
}
.sponsorItemCard h5{
  overflow: visible;
  text-align: center;
  color: white;
}
.sponsorItemCard:hover{
  transform: scale(1.175);
  cursor: pointer;
}

.NameItemCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  transition: 0.2s;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}
.NameItemCard h1{
  overflow: visible;
  text-align: center;
  color: white;
}
.NameItemCard h5{
  overflow: visible;
  text-align: center;
  color: white;
}
.NameItemCard:hover{
  transform: scale(1.175);
}




@media screen and (max-width: 800px) {
  .experienceListGrid {
    grid-template-columns: repeat(auto-fit, 95vw);
  }
}
